[Unit]
Description=Kodi standalone (Wayland via Cage)
After=remote-fs.target systemd-user-sessions.service sound.target
Conflicts=getty@tty1.service

[Service]
User=user
Group=user
PAMName=login
TTYPath=/dev/tty1
StandardInput=tty
StandardOutput=journal
TimeoutStartSec=infinity
ExecStartPre=/home/user/.kodi/kodi-display-gate
ExecStart=/usr/bin/cage -- /usr/bin/kodi-standalone
Restart=on-abort

[Install]
WantedBy=tv-media-box.target