[Unit]
Description=Set dynamic hostname based on board and OS
After=systemd-hostnamed.service dbus.service
Before=network.target
ConditionPathIsReadWrite=/etc
ConditionFirstBoot=yes

[Service]
Type=oneshot
ExecStart=/usr/local/bin/set-dynamic-hostname.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
