[Match]
Name=usb0

[Link]
RequiredForOnline=no

[Network]
Address=192.168.33.1/24
DHCPServer=yes
IPMasquerade=ipv4

[DHCPServer]
PoolOffset=10
PoolSize=100
EmitDNS=yes
DNS=8.8.8.8 8.8.4.4
EmitRouter=yes
